.btn {
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-primary {
  border-radius: 10px;
  border: 0.5px solid #FFF;
  background: var(--color-green-300);
  color: var(--color-white);
  display: flex;
  width: 270px;
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary:hover {
  background: var(--color-green-500);
}

.btn-secondary {
  background-color: #4b5563;
  color: white;
}

.btn-secondary:hover {
  background-color: #374151;
}

.btn-danger {
  background-color: #dc2626;
  color: white;
}

.btn-danger:hover {
  background-color: #b91c1c;
}

.btn-success {
  background-color: #59BA49;
  color: white;
}

.btn-success:hover {
  background-color: #15803d;
}

.btn-small {
  padding: 4px 12px;
  font-size: 14px;
}

.btn-medium {
  padding: 8px 16px;
  font-size: 16px;
}

.btn-large {
  padding: 12px 24px;
  font-size: 18px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}