.footer {
  background-color: var(--color-blue-500);
}

.footer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-white);
  padding: 14px;
  text-align: center;
}