.input-wrapper {
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;

  border: 0.5px solid var(--color-green-500);
  color: var(--color-green-500);
  display: flex;
  width: 268px;
  height: 40px;
  justify-content: center;
}

.input-label {
  color: magenta;
  margin: 0;
  border: none;
}

.input-default {
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: var(--color-green-500);
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    text-align: center;
}

/* .input:focus {
  border-color: #38a169;
} */

/* Variantes
.input-default {
    border: 2px solid #38a169;
}

.input-outlined {
  border: 2px solid #38a169;
}
.input-filled {
  background-color: #f0fff4;
  border: 1px solid #38a169;
} 

/* Tamanhos */
/* .input-small {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.input-medium {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.input-large {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
} */ 
