@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --color-blue-100: #76C9E5;
  --color-blue-500: #009BD3;
  --color-blue-900: #00394E;

  --color-green-100: #A0D169;
  --color-green-300: #59BA49;
  --color-green-500: #009B49;
  --color-green-600: #519130;
  --color-green-900: #004621;

  --color-black: #000000;
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
