@import url('https://fonts.cdnfonts.com/css/anek-bangla');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@media (max-width: 480px) {
  .body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .bgLanding img {
    width: 100vw;
  }

  .header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logoLanding {
    /* display: flex; */
    margin: auto;
  }

  .logoLanding img {
    display: flex;
    margin: -40px auto;
  }

  .content {
    width: 288px;
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .content h1 {
    font-family: 'Anek Bangla', sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
  }

  .content p {
    width: 246px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 10vh;
  }

  .footer {
    background-color: var(--color-blue-500);
  }

  .footer p {
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
    padding: 14px;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .content-h1 {
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    white-space: nowrap;
    padding: 0 10px;
  }
}