@media (max-width: 480px) {
  .contentHeader {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .header {
    display: flex;
    height: 29px;
    padding: 50px 24px;
    justify-content: flex-start;
    align-self: stretch;
  }

  .returnButton {
    background-color: transparent;
    border: none;
    display: flex;
  }

  .logoImage {
    margin: auto;
  }

  .logoImage img {
    width: 125px;
    height: 52px;
    display: flex;
    margin: auto;
  }

  .content {
    margin: 56px auto;
  }

  .contentH1 {
    font-family: 'Anek Bangla', sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
  }

  .contentP {
    width: 246px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  .inputAndButton {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer {
    background-color: var(--color-blue-500);
    margin-top: 30vh;
  }

  .footer p {
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
    padding: 14px;
    text-align: center;
    
  }
}